@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <div class="text-center">
            The First Player
        </div>
        <div class="text-center">
            <img src="rock.png"  width="300">
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-secondary">Rock</button>
            <button type="button" class="btn btn-light">Paper</button>
            <button type="button" class="btn btn-dark">Scissors</button>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            The Second Player
        </div>
        <div class="text-center">
            <img src="rock.png" width="300">
        </div>
    </div>
</div>